$bg: #006100;
$white: #fff;
$black: #000;

// chips
$peach: #ffdab9;
$pink: #ffc0cb;
$red: #a50505;
$blue: #1b1bb6;
$yellow: #c9c90e;
$green: #088f08;
$purple: #7a077a;
$orange: #e99802;
$grey: #666;

// transition
$duration: 0.2s;
$easing: ease;
